<!--<footer>
  <div class="footer">
    <h1>Footer</h1>
  </div>
</footer>-->

<div class="footer">
  <footer>
    <div>
      <div class="col4-1 ">
        <h4 class="widgettitle">Redes Sociales</h4>
        <ul>
          <li class="social-link-item facebook font-icon icon-medium">
            <a href="https://www.facebook.com" title="Facebook" target="_blank">
              <i class="fa fa-facebook" style="color: #ffffff;"></i> Facebook</a>
          </li>
          <li class="social-link-item twitter font-icon icon-medium">
            <a href="https://www.twitter.com" title="Twitter" target="_blank">
              <i class="fa fa-twitter" style="color: #ffffff;"></i> Twitter</a>
          </li>
          <li class="social-link-item instagram font-icon icon-medium">
            <a href="http://www.instagram.com" title="Instagram" target="_blank">
              <i class="fa fa-instagram" style="color: #ffffff;"></i> Instagram</a>
          </li>
        </ul>
      </div>
      <div class="col4-1 ">
        <h4 class="widgettitle">Blog</h4>
        <ul style="width:262px"></ul>
      </div>
      <div class="col4-1 ">
        <h4 class="widgettitle">Dirección</h4>
        <div class="textwidget">
          <ul style="width:auto">
            <li id="footer_telf">664439529</li>
            <li id="footer_email">informacion@alvaradobarbershop.com</li>
            <li id="footer_direccion">Rambla Badal, 36</li>
            <li id="footer_poblacion">BARCELONA</li>
            <li id="footer_provincia">BARCELONA</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="footer-text clearfix">
      <a href="http://www.dunasoftpc.com" id="dunasoftpc" target="_blank">Software para Barberías - DunaSoft
        <img class="wp-image-130  alignnone" src="favicon.png"
          alt="logo_dunasoft" width="61" height="46">
      </a>
    </div>

  </footer>

</div>